  body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #D1E7FF;
      padding: 0;
  }

  #sidebar-menu {
      background-color: #0076FD;
      width: 250px;
      position: fixed;
      top: 35px;
      left: -260px;
      height: 100%;
      /* Initially hide the sidebar */
      overflow-y: auto;
      transition: left 0.4s ease;
  }

  #side-menu {
      list-style-type: none;
      padding: 0px;
  }

  .menu-title {
      font-weight: bold;
      padding: 10px 15px;
  }

  #side-menu li {
      padding: 10px 15px;
  }

  #side-menu li a {
      color: #130c0c;
      text-decoration: none;
      display: block;
  }

  #side-menu li:hover {
      background-color: #f5f2f2e0;
  }

  #side-menu li:hover a {
      color: #000;
  }

  #side-menu li i {
      margin-right: 10px;
  }

  /* Submenu styles */
  .submenu {
      display: none;
      background-color: #0e7c7e;
  }

  .submenu li {
      padding: 8px 30px;
  }

  .submenu li a {
      color: #fff;
  }

  #side-menu li:hover .submenu {
      display: block;
  }

  /* Toggle button styles */
  #toggle-btn {
      position: fixed;
      top: 0px;
      left: 0px;
      background-color: #7081ee;
      color: #101010;
      padding: 10px;
      cursor: pointer;
      z-index: 999;
  }

  .hero {
      display: flex;
      top: 5%;
  }

  .hero-content {
      flex: 1;
      /* This makes the content flex to fill available space */
      margin-right: 20px;
      /* Adjust as needed */
      margin-top: 20px;
  }

  .hero-image {
      flex: 1;
      /* This makes the image flex to fill available space */
  }

  /* Optional: Add more styling to the image if needed */
  .hero-image img {
      max-width: 80%;
      /* Ensure the image does not exceed its container */
      height: auto;
      /* Maintain aspect ratio */
      margin-left: 60px;
  }

  header {
      position: fixed;
      top: 0;
      width: 95vw;

      background-color: #3498db;
      color: #D1E7FF;
      padding: 15px 50px;
      float: right;

  }

  .navbar-nav a {
      float: right;
  }

  /* body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #D1E7FF;
      padding: 0;
  } */

  /* .container {
      max-width: 800px;
      margin: 150px auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: #f9f9f9;
  } */

  /* h1 {
      text-align: center;
      margin-bottom: 20px;
  }

  form {
      max-width: 600px;
      margin: 0 auto;
  }

  label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
  } */

  /* input[type="text"],
  input[type="date"],
  input[type="tel"] {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
  } */

  input[type="submit"] {
      background-color: #4caf50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }

  input[type="submit"]:hover {
      background-color: #45a049;
  }

  /* .forgot-password,
  .signup {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      margin-bottom: 30px;
  }

  .forgot-password a,
  .signup a {
      color: #3498db;
      text-decoration: none;
  } */

  .alert {
      position: fixed;
      top: -100px;
      /* Initially hide the alert off-screen */
      left: 50%;
      transform: translateX(-80%);
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
      transition: top 0.5s ease-in;
      /* Apply smooth transition for top position */
  }

  .alert.show {
      top: 0px;
      /* Show the alert by bringing it to the top */
  }

  /* Style for success alerts */
  .alert-success {
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
  }

  /* Style for error alerts */
  .alert-danger {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
  }