body {
  font-family: Arial, sans-serif;
}
h2 {
  margin-top: auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 8px;
  text-decoration: antiquewhite;
}
input {
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 8px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

#userType {
  margin-bottom: 25px;
  padding: 8px;
  border-radius: 8px;
  width: 250px;
  background-color: lightslategray;
}
.alert {
  position: fixed;
  top: -100px;
  /* Initially hide the alert off-screen */
  left: 50%;
  transform: translateX(-80%);
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: top 0.5s ease-in;
  z-index: 1000;
}

.alert.show {
  top: 0px;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}