/* body { */
/*   font-family: Arial, sans-serif; */
/*   background-color: rgb(44, 62, 80); */
/*   margin: 0; */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: center; */
/*   height: 100vh; */
/* } */
/**/
.reset_container {
  background-color: #ecf0f1;
 border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
padding: 20px; */
  text-align: center;
  max-width: 400px;
  width: 100%;
}

h2 {
  color: #333;
}

p {
  color: #666;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
